:root {
  font-family:  system-ui, Avenir;
  font-weight: 400;
  color: #213547;
  background-color: #5793c1;


}



body {
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-family: Josefin+Sans;
  font-size: 2.5em;
  line-height: 0.1;
  margin-bottom: 2cm;
}
.button-container {
  display: flex;
  justify-content:center;
}

button {
  border-radius: 6px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1.1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #fbfbfb;
  cursor: pointer;
  margin-top: 0.5cm;


}
button:hover {
  border-color: #646cff;
}
.card-container {
  display: grid;
  grid-template-columns: repeat(4, 110px);
  grid-gap: 10px; 

}


